<section class="course my-3">
  <div class="container">
    <h1 class="text-center">Todos cursos disponíveis em poucos cliques.</h1>
    <div class="row row-cols-3 row-cols-md-4 g-4">
      <div class="col">
        <div class="card ">
          <img src="../../../assets/cloud.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Cloud Computing</h3>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/frontend.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Programação Front-end</h3>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/backend.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Programação Back-end</h3>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/database.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Banco de dados</h3>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<router-outlet></router-outlet>
