<section class="home">

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active banner-home ">
        <img src="../../../assets/banner-image.jpg" class="d-block w-100 img-responsive" alt="...">
      </div>
      <div class="carousel-item banner-home ">
        <img src="../../../assets/banner-image2.jpg" class="d-block w-100 img-responsive" alt="...">
      </div>
    </div>
  </div>

  <div class="home-content">
    <h1><strong>
      <p>
        Comece sua jornada.
      </p>
      Conheça nossos cursos adocicados!
    </strong>
    </h1>
    <button class="btn btn-md btn-success" (click)="goTo('cursos-historico')">Inscrever-se</button>
  </div>

  <section class="container-lg container-md container-sm mt-5">
    <div class="row">
      <div class="col-md-8 text-break py-5">
        <h2 class="text-center">Nossa visão</h2>
        <p class="lead">Ser uma empresa de referência em qualidade e eficiência nos serviços prestados no ramo de consultorias que transformam vidas de mulheres que buscam fazer a transição de carreira.</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="../../../assets/visao.jpg" class="img-home">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-8 order-md-2 py-5">
        <h2 class="text-center">Nossa missão</h2>
        <p class="lead text-end">Conectar mulheres que visam fazer a transição de carreira, com instituições que estão dispostas a ajudá-las nesse processo, através dos seus cursos e metodologias.</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="../../../assets/missao.jpg" class="img-home">
      </div>
    </div>

  </section>
</section>
