
<h2 mat-dialog-title>Complete seu cadastro</h2>
<mat-dialog-content class="mat-typography">
  <section class="container-sm container-md mt-3">
    <div class="mx-auto">
    <form class="row g-3">
      <div class="col-md-6">
      <label for="inputNome" class="form-label">Nome</label>
      <input type="email" class="form-control" id="inputNome" placeholder="Ex. Cloud">
    </div>
    <div class="col-6">
      <label for="inputDataCriacao" class="form-label">Data criação</label>
      <input type="date" class="form-control"  id="inputDataCriacao" placeholder="--/--/----">
    </div>
    <div class="col-md-12">
      <label for="inputDescricao" class="form-label">Descrição</label>
      <textarea type="textarea" class="form-control" id="inputDescricao" placeholder="Ex. Descrição do curso"></textarea>
    </div>
    <div class="col-md-6">
      <label for="inputDataInicio" class="form-label">Data início</label>
      <input type="date" class="form-control" id="inputDataInicio" placeholder="--/--/----">
    </div>
    <div class="col-md-6">
      <label for="inputDataFim" class="form-label">Data fim</label>
      <input type="date" class="form-control" id="inputDataFim" placeholder="--/--/----">
    </div>
    <div class="col-md-6">
      <label for="inputInicioInscricao" class="form-label">Início inscrição</label>
      <input type="date" class="form-control" id="inputInicioInscricao" placeholder="--/--/----">
    </div>
    <div class="col-md-6">
      <label for="inputFimInscricao" class="form-label">Fim inscrição</label>
      <input type="date" class="form-control" id="inputFimInscricao" placeholder="--/--/----">
    </div>
    <div class="col-md-6">
      <label for="inputStatus" class="form-label">Status</label>
      <input type="text" class="form-control" id="inputStatus" placeholder="--/--/----">
    </div>
  </form>
  </div>
  </section>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>
