<form [formGroup]="alunaForm">
  <h2 mat-dialog-title>Complete seu cadastro</h2>
  <mat-dialog-content class="mat-typography">
  <section class="container-sm container-md mt-3">
    <div class="mx-auto">
      <form class="row g-3">
      <div class="col-md-6">
        <label for="inputNome" class="form-label">Nome</label>
        <input type="email" class="form-control" required formControlName="nome" id="inputNome" placeholder="Digite seu nome">
      </div>
    <div class="col-md-6">
      <label for="inputSobrenome" class="form-label">Sobrenome</label>
      <input type="text" class="form-control" required formControlName="sobrenome" id="inputSobrenome" placeholder="Digite seu sobrenome">
    </div>
    <div class="col-md-4">
      <label for="inputCpf" class="form-label">CPF</label>
      <input type="text" class="form-control" mask="AAA.AAA.AAA-AA" required formControlName="cpf" id="inputCpf" placeholder="XXX.XXX.XXX-XX">
    </div>
    <div class="col-md-4">
      <label for="inputData" class="form-label">Data nascimento</label>
      <input type="text" class="form-control" mask="0000-00-00" required formControlName="dataNasc" id="inputData">
    </div>
    <div class="col-md-4">
      <label for="inputGenero" class="form-label">Gênero</label>
      <select class="form-select" required formControlName="genero" aria-label="Genero">
        <option value="FEMININO">FEMININO</option>
        <option value="MASCULINO">MASCULINO</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputCelular" class="form-label">Celular</label>
      <input type="text" class="form-control" mask="(000) 00000-0000" required formControlName="celular" id="inputCelular" placeholder="(XX) XXXX-XXXX">
    </div>
    <div class="col-md-4">
      <label for="inputTelefone" class="form-label">Telefone</label>
      <input type="text" class="form-control" mask="(000) 0000-0000" required formControlName="telefone" id="inputTelefone" placeholder="(XX) XXXXX-XXXX">
    </div>
    <div class="col-md-4">
      <label for="inputEmail" class="form-label">E-mail</label>
      <input type="text" class="form-control" required formControlName="email" id="inputZip" placeholder="seuemail@email.com">
    </div>
    <div class="col-md-12">
      <label for="inputEndereco" class="form-label">Endereço</label>
      <input type="text" class="form-control" required formControlName="endereco" id="inputEndereco" placeholder="Rua Principal, 1234 - SP">
    </div>

  </form>
</div>
</section>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="salvar()" cdkFocusInitial>{{actionBtn}}</button>
</mat-dialog-actions>

</form>
