<form  [formGroup]="empresaForm" >
  <h2 mat-dialog-title>Complete seu cadastro</h2>
  <mat-dialog-content class="mat-typography">
  <section class="container-sm container-md mt-3">
    <div class="mx-auto">
      <form class="row g-3">
        <div class="col-md-8">
      <label for="inputNome" class="form-label">Nome</label>
      <input type="email" required formControlName="nome"  class="form-control" id="inputNome" placeholder="Ex. nome da empresa">
    </div>
    <div class="col-md-4">
      <label for="inputCnpj" class="form-label">CNPJ</label>
      <input type="text" required formControlName="cnpj"  mask=""	 class="form-control" id="inputCnpj" placeholder="XX.XXX.XXX/0000-XX">
    </div>
    <div class="col-12">
      <label for="inputEndereco" class="form-label">Endereço</label>
      <input type="text" required formControlName="endereco"  class="form-control" id="inputEndereco" placeholder="Rua Principal, 1234 - SP">
    </div>
    <div class="col-12">
      <label for="inputResponsavel" class="form-label">Responsável</label>
      <input type="text" required formControlName="responsavel"  class="form-control" id="inputResponsavel" placeholder="Ex. Executiva Ana Clara">
    </div>
    <div class="col-md-5">
      <label for="inputTelefone" class="form-label">Telefone</label>
      <input type="text" required formControlName="telefone"  mask="(000) 0000-0000" class="form-control" id="inputTelefone" placeholder="(XX) XXXXX-XXXX">
    </div>
    <div class="col-md-7">
      <label for="inputEmail" class="form-label">E-mail</label>
      <input type="text" required formControlName="email"  class="form-control" id="inputEmail" placeholder="empresa@email.com">
    </div>
  </form>
</div>
</section>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="salvar()" cdkFocusInitial>{{actionBtn}}</button>
</mat-dialog-actions>

</form>
