<div class="container text-center my-3">
  <h1>Adoce sua carreira, inscreva-se.</h1>
  <button class="btn btn btn-outline-success" (click)="openDialog();">Cadastrar-se</button>
</div>

<section class="container container-md container-sm">
  <div class="text-start">
    <h4>Nossas alunas:</h4>
  </div>
  <mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Digite um nome..."
      #input autocomplete="off"
    />
  </mat-form-field>

  <div class="table-responsive-lg table-responsive-md table-responsive-sm">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mb-3 table table-light table-striped">
      <ng-container matColumnDef="aluno_id">
        <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">No.</th>
        <td mat-cell *matCellDef="let element" class="text-center">{{ element.aluno_id }}</td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Nome</th>
        <td mat-cell *matCellDef="let element" class="text-center">{{ element.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="sobrenome">
        <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Sobrenome</th>
        <td mat-cell *matCellDef="let element" class="text-center">{{ element.sobrenome }}</td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">CPF</th>
        <td mat-cell *matCellDef="let element" class="text-center">{{ element.cpf }}</td>
      </ng-container>

      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Endereço</th>
        <td mat-cell *matCellDef="let element" class="text-center">{{ element.endereco }}</td>
      </ng-container>

      <ng-container matColumnDef="data_nasc">
        <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Data nascimento</th>
        <td mat-cell *matCellDef="let element" class="text-center">{{ element.data_nasc }}</td>
      </ng-container>

    <ng-container matColumnDef="genero">
      <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Genero</th>
      <td mat-cell *matCellDef="let element" class="text-center">{{ element.genero }}</td>
    </ng-container>

    <ng-container matColumnDef="celular">
      <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Celular</th>
      <td mat-cell *matCellDef="let element" class="text-center">{{ element.celular }}</td>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Telefone</th>
      <td mat-cell *matCellDef="let element" class="text-center">{{ element.telefone }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">E-mail</th>
      <td mat-cell *matCellDef="let element" class="text-center">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3"></th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a home icon"
        (click)="edit(row)"
        >
        <mat-icon>menu</mat-icon>
      </button>
      <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a home icon"
      >
      <mat-icon color="warn">delete_outline</mat-icon>
    </button>
  </td>
</ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
         "{{ input.value }}"
      </td>
    </tr>
  </table>
</div>
</section>

