<div class="container text-center my-3">
  <h1>Confira cursos disponíveis e comece sua jornada.</h1>
  <button class="btn btn btn-outline-success" (click)="openDialog()">Adicionar curso</button>
</div>

<section class="container container-md container-sm">
  <mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. cloud"
      #input autocomplete="off"
    />
  </mat-form-field>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page of users"></mat-paginator>

  <div class="table-responsive-lg table-responsive-md table-responsive-sm">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mb-3 table table-light table-striped">
      <ng-container matColumnDef="cursoId">
        <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Id</th>
        <td mat-cell *matCellDef="let row" class="text-center">{{ row.cursoId }}</td>
      </ng-container>

      <ng-container matColumnDef="empresa">
        <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Empresa</th>
        <td mat-cell *matCellDef="let row" class="text-center">{{ row.empresa }}</td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Nome</th>
        <td mat-cell *matCellDef="let row" class="text-center">{{ row.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Descrição</th>
        <td mat-cell *matCellDef="let row" class="text-center">{{ row.descricao }}</td>
      </ng-container>

      <ng-container matColumnDef="cargaHoraria">
        <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Carga horária</th>
        <td mat-cell *matCellDef="let row" class="text-center">{{ row.cargaHoraria }}</td>
      </ng-container>

      <ng-container matColumnDef="dataCriacao">
        <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Data criação</th>
        <td mat-cell *matCellDef="let row" class="text-center">{{ row.dataCriacao }}</td>
      </ng-container>

      <ng-container matColumnDef="dataInicio">
        <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Data início</th>
        <td mat-cell *matCellDef="let row" class="text-center">{{ row.dataInicio }}</td>
      </ng-container>

    <ng-container matColumnDef="dataFim">
      <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Data fim</th>
      <td mat-cell *matCellDef="let row" class="text-center">{{ row.dataFim }}</td>
    </ng-container>

    <ng-container matColumnDef="inicioInscricao">
      <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Início inscrição</th>
      <td mat-cell *matCellDef="let row" class="text-center">{{ row.inicioInscricao }}</td>
    </ng-container>

    <ng-container matColumnDef="fimInscricao">
      <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Fim inscrição</th>
      <td mat-cell *matCellDef="let row" class="text-center">{{ row.fimInscricao }}</td>
    </ng-container>

    <ng-container matColumnDef="statusCurso">
      <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3">Status</th>
      <td mat-cell *matCellDef="let row" class="text-center">{{ row.statusCurso }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="align-middle text-center px-3"></th>
      <td mat-cell *matCellDef="let row" class="text-center">
        <button
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a home icon"
        (click)="edit(row)"
        >
        <mat-icon>menu</mat-icon>
      </button>
      <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a home icon"
      (click)="delete(row.cursoId)"
      >
      <mat-icon color="warn">delete_outline</mat-icon>
    </button>
  </td>
</ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        Nenhuma informação encontrada para "{{ input.value }}"
      </td>
    </tr>
  </table>
</div>
</section>
